# For PCBs designed using KiCad: http://www.kicad-pcb.org/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*~
_autosave-*
*.tmp

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
.dsn

# Exported BOM files
*.xml
*.csv

# KiCAD artifacts
*.Cu.gbl
*.Mask.gbs
*.SilkS.gbo
*.SilkS.zip
*.Cuts.gm1
*.Cu.gtl
*.Mask.gts
*.SilkS.gto
*.drl
#*.lib
*.bak
*.drl
*.kicad_pcb-bak
*.net
*.pdf
*~
